

.examp * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.logo {
  width: 120px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header {
  height: 100px;
  background-color: #144154;
  border-radius: 15px;
}
body {
  background-color: black;
}

.main-div {
  width: 50%;

  display: inline-block;
}

.a {
  display: block;
}

.menu-bar {
  align-items: center;
  border-radius: 15px;
  background: #0a2647;
  text-align: center;
}
.menu-bar ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}
.menu-bar ul li {
  width: 130px;
  margin: 15px;
  padding: 15px;
}
.menu-bar ul li a {
  text-decoration: none;
  color: white;
}
.active,
.menu-bar ul li:hover {
  background: #144272;
  border-radius: 3px;
}

.quotes-from-anime,
.quotes-from-character {
  display: none;
}
.menu-bar ul li:hover .quotes-from-anime,
.menu-bar ul li:hover .quotes-from-character {
  display: block;
  position: absolute;
  background: #144272;
  margin-top: 15px;
  margin-left: -15px;
}
.menu-bar ul li:hover .quotes-from-anime ul,
.menu-bar ul li:hover .quotes-from-character ul {
  display: block;
  width: 250px;
  margin: 10px;
}
.menu-bar ul li:hover .quotes-from-anime ul li,
.menu-bar ul li:hover .quotes-from-character ul li {
  width: 130px;
  padding: 10px;
  border-bottom: 1px dotted black;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

.menu-bar ul li:hover .quotes-from-anime ul li a:hover,
.menu-bar ul li:hover .quotes-from-character ul li a:hover {
  color: black;
}

.display-div {
  height: 400px;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  border-radius: 15px 50px;
  background-color: rgba(80, 87, 107, 0.3);
}
.display-div p {
  color: #fafcff;
  font-weight: bold;
  display: inline-block;
  justify-content: left;
  width: 250px;
  height: 300px;
}
.display-div img {
  width: 250px;
  height: 300px;
  border: 1px solid black;
}
.foot-style{
  color: white;
  background-color: rgba(80, 87, 107, 0.4);
  border-radius: 15px;
  text-align: center;
  margin-top: 32px;
  padding: 8px;
}
/* .display-div img:hover{
  transform: scale(1.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px 50px;
}  */