*{
    box-sizing: border-box;
}
.header-div
{
    width: 50%;

    display: inline-block;
}

.random{
    border: none;
    width: 80%;
    height: 50px;   
}

.main-div{
    width: 50%;

    display: inline-block;
}

.a{
    display: block;
}

.menu-bar{
    background: black ;
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    
}
.menu-bar ul li{
    width: 130px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
}
.active, .menu-bar ul li:hover{
    background: gray;
    border-radius: 3px;
}

.quotes-from-anime{
    display: none;
}
.menu-bar ul li:hover .quotes-from-anime
{
    display: block;
    position: absolute;
    background: green;
    margin-top: 15px;
    margin-left: -15px;

}
.menu-bar ul li:hover .quotes-from-anime ul{
    display: block;
    width: 250px;
    margin: 10px;
}
.menu-bar ul li:hover .quotes-from-anime ul li{
    width: 130px;
    padding: 10px;
    border-bottom: 1px dotted black;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .quotes-from-anime ul li:last-of-type{
    border-bottom: none;
}
.menu-bar ul li:hover .quotes-from-anime ul li a:hover{
    color: purple;
}


/* Style the radio buttons as toggle buttons */
/* .anime-toggle-group label {
    display: inline-block;
    background-color: #eee;
    padding: 12px 24px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 12px;
    user-select: none;
  }
  
//Style the selected radio button 
  .anime-toggle-group input[type="radio"]:checked + span {
    background-color: #4CAF50;
    color: white;
  }
  
 // Hide the radio buttons
  .anime-toggle-group input[type="radio"] {
    display: none;
  } */